*.un~
*~
*.swp
*.cmd
~*
logs
target
project/project
project/target
tmp
dist
.cache
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/conf/db.secret
/conf/db.secret.prod
/conf/application.conf.docker
/conf/secret.conf
/conf/secret.conf.docker
/conf/generated.keystore
/RUNNING_PID
/certs
/play
/app/assets/images/logo.gif
/app/assets/images/logo2.gif
/app/assets/images/cat/*.gif
/app/assets/images/cat/*.png
/app/assets/images/cat/*.jpg
/app/assets/images/specific/*.jpg
/app/assets/images/specific/*.png
/internal
/db_*.sql
