*.un~
*~
*.swp
*.cmd
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/conf/db.secret
/conf/db.secret.prod
/conf/application.conf.docker
/conf/secret.conf
/conf/secret.conf.docker
/conf/generated.keystore
/RUNNING_PID
/certs
/play
/app/assets/images/logo.gif
/app/assets/images/logo2.gif
