@(form: Form[forms.KudosForm.Data])(implicit
        webJarAssets: WebJarAssets,
        assets: AssetsFinder,
        request: Request[_],
        messages: Messages,
        ldap: util.LDAP)

@main(s"Test Auth!") {

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Testing Auth</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="content">
                    @helper.form( action = helper.CSRF(routes.KudosController.genKudosEmail())) {
                        @helper.inputText(form("from"), '_label -> "From", 'placeholder -> "From", 'class -> "form-control" )
                        @helper.inputText(form("to"), '_label -> "To", 'placeholder -> "To", 'class -> "form-control" )
                        @helper.textarea(form("message"), '_label -> "Message", 'placeholder -> "Message", 'class -> "form-control" )
                        <button type="submit" class="btn btn-primary">Test it</button>
                    }
                    </div>
                </div>
            </div> <!-- x_panel -->
        </div>
    </div>
}
