@import models.people.EmpRelationsRowUtils._
@import offline.Tables.EmprelationsRow
@(emp:EmprelationsRow)(implicit
        webJarsUtil: org.webjars.play.WebJarsUtil,
        assets: AssetsFinder,
        request: Request[_],
        ldap: utl.LDAP)

@main("Nomination Submitted") {
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                   <h2>Nominate Successful</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div> <!-- x_title -->
                <div class="x_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">

                               Thank you. Your nomination has been submitted.
                                <b>You are awesome!!!</b>

                            </div><!-- col-xs- -->
                        </div>
                    </div> <!-- container -->
                </div><!-- x_content -->
            </div>
        </div>
    </div>
}
